@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header style="background-color:cyan; text-align:right;">
    <h1>LoanEnquiry</h1>
</header>
<nav>
    <div>
        @Html.ActionLink("Sign In", "SignIn", "hhg")

    </div>
</nav>

