@model LoanEnquiry_EL.Customer

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/Index.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Customer", FormMethod.Post))
{
    <table cellpadding="10">
        <tr>
            <td>
                @Html.Label("User Name")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.MailId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Password")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Password)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" />
            </td>
        </tr>
    </table>
}